<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>CHATBOT</title>
</head>
<body>
	<center>
		<h1>UNIVERSIDAD NACIONAL DE CHIMBORAZO</h1>
		<h1>FACULTAD DE INGENIERIA</h1>
		<h1>ELECTRONICA Y TELECOMUNICACIONES</h1>
		<h1><img src="/static/images/rb.jpg" width="200" height="200"></h1>
		<input type="text" id="datos">
		<button id = 'envio' type="button" onclick="enviar();">ENVIAR</button>
		<h2>Tu:</h2>
		<ul id="tu"></ul>
		<h2>Bot:</h2>
		<ul id="bot"></ul>
	</center>
</body>
</html>
